#app{
    #div1{display:block;width:110px;height:50px;line-height:50px;white-space:nowrap;overflow:hidden;background-color:#a2a2a2;margin:15px;padding:5px 15px;}
}
.banner{
    width: 100%;
    border-bottom: 5px solid #0DAA67;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #0DAA67;
    margin-top: 8px;
    background: #EEEFF0;
    position: relative;
    .el-carousel{
        height: 300px;
    }
    .el-carousel__item{
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        a{
            img {
                height: 100%;
            }
        }
    }
    .el-carousel__button{
        width: 16px;
        height: 16px;
        border: 2px solid #fff;
        background: transparent;
        &:hover{
            background: #0daa67;
        }
    }
    .is-active{
        .el-carousel__button{
            background: #0daa67;
        }

    }
    .header{
        position: absolute;
        width: 1200px;
        display: flex;
        justify-content: flex-start;
        padding: 0 16px;
        flex-direction: column;
        border-left: 4px solid #0daa67;
        margin-top: -53px;
        z-index: 9999;
        h3{
            margin: 0;
            font-weight: normal;
            font-family: DINC;
            font-size: 40px;
            color: #2b2b2b;
        }
        span{
            font-family: SourceHan;
            font-size: 20px;
            color: #2b2b2b;

        }
    }
}
.item .el-breadcrumb{
    font-size: 12px;
    font-family: "SourceHan-regular";
    .el-breadcrumb__inner{
        color: #7c7c7c!important;
        a{
            color: #7c7c7c;
            font-weight: normal;
            &:hover{
                color: #7c7c7c;
            }
        }
    }
}
.b_box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .item{
        .empty{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
            color: #2b2b2b;
            margin-bottom: 100px;
        }
        width: 1200px;
        .el_tabs{
            .el-tabs__header{
                border: 0;
            }
            margin-top: 40px;
            .el-tabs__item{
                font-family: "SourceHan-regular";
                font-size: 16px;
                width: 171px;
                height: 50px;
                background: #D6D6D6;
                text-align: center;
                line-height: 50px;
                color: #2B2B2B;
                transition: all 0.001s;
                &:hover{
                    color: #fff;
                    background: #0daa67;
                }
            }
            .is-active{
                background: #0DAA67;
                border-bottom: 0;
                border-top: 0;
                color: #fff;
            }
            .all{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                list-style: none;
                padding: 0;
                li{
                    width: 30%;
                    margin-top: 50px;
                    cursor: pointer;
                    overflow: hidden;
                    img{
                        width: 380px;
                        height: 220px;
                        transition: all 0.6s;
                        &:hover{
                            transform: scale(1.05);
                        }
                    }
                    h4{
                        font-weight: normal;
                        margin: 31px 0 15px 0;
                        font-family: SourceHan-regular;
                        font-size: 16px;
                        color: #2b2b2b;
                    }
                    p{
                        font-family: SourceHan-regular;
                        font-size: 12px;
                        margin: 0;
                        color: #2b2b2b;
                        line-height: 20px;
                        overflow:hidden; //超出文本隐藏
                        text-overflow:ellipsis; //溢出省略号显示
                        display:-webkit-box; //将对象作为弹性伸缩盒子
                        -webkit-box-orient:vertical; //设置伸缩盒子的子元素排列方式-从上到下垂直排列
                        -webkit-line-clamp:2; //这个属性不是css的规范属性，需要组合上面两个属性，数组代表显示的行数,如2,3,4....
                    }
                    .el-button{
                        width: 108px;
                        height: 45px;
                        font-family: "SourceHan-regular";
                        font-size: 16px;
                        color: #fff;
                        background: #0DAA67;
                        border: 1px solid #0DAA67;
                        padding: 0;
                        margin-top: 27px;
                        &:hover{
                            background: #fff;
                            border: 1px solid #0DAA67;
                            color: #0DAA67;
                        }
                    }
                }
            }
            .allList{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                list-style: none;
                padding: 0;

                li {
                    width: 30%;
                    margin-top: 50px;
                    cursor: pointer;
                    overflow: hidden;
                    img {
                        width: 380px;
                        height: 220px;
                        transition: all 0.6s;
                        cursor: pointer;
                        &:hover{
                            transform: scale(1.05);
                        }
                    }

                    h4 {
                        font-weight: normal;
                        margin: 31px 0 15px 0;
                        font-family: SourceHan-regular;
                        font-size: 16px;
                        color: #2b2b2b;
                    }

                    p {
                        font-family: SourceHan-regular;
                        font-size: 12px;
                        margin: 0;
                        color: #2b2b2b;
                        line-height: 20px;
                        overflow:hidden; //超出文本隐藏
                        text-overflow:ellipsis; //溢出省略号显示
                        display:-webkit-box; //将对象作为弹性伸缩盒子
                        -webkit-box-orient:vertical; //设置伸缩盒子的子元素排列方式-从上到下垂直排列
                        -webkit-line-clamp:2; //这个属性不是css的规范属性，需要组合上面两个属性，数组代表显示的行数,如2,3,4....
                    }

                    .el-button {
                        width: 108px;
                        height: 45px;
                        font-family: "SourceHan-regular";
                        font-size: 16px;
                        color: #fff;
                        background: #0DAA67;
                        border: 1px solid #0DAA67;
                        padding: 0;
                        margin-top: 27px;
                        &:hover{
                            background: #fff;
                            border: 1px solid #0DAA67;
                            color: #0DAA67;
                        }
                    }
                }
            }

            .cars{
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                .top{
                    margin-top: 40px;
                    .header{
                        width: 100%;
                        height: 40px;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        border-bottom: 1px solid #2b2b2b;
                        margin-bottom: 35px;
                        h3{
                            font-family: "SourceHan";
                            font-size: 26px;
                            margin: 0;
                            font-weight: normal;
                            display: flex;
                            color: #2b2b2b;
                            justify-content: center;
                            align-items: center;
                            &:before{
                                content: "";
                                display: inline-block;
                                width: 3px;
                                height: 26px;
                                background: #0DAA67;
                                margin-right: 10px;
                            }
                        }
                    }
                    .body{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        img{
                            width: 600px;
                            height: 400px;
                            margin-right: 35px;
                        }
                        .right{
                            flex: 1;
                            height: 100%;
                            margin-left: 35px;
                            display: flex;
                            flex-direction: column;
                            h4{
                                font-family: "SourceHan";
                                color: #2b2b2b;
                                font-size: 22px;
                                margin-bottom: 19px;
                            }
                            span{
                                font-family:'SourceHan-regular';
                                font-size: 14px;
                                color: #2b2b2b;
                            }
                            ul{
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                list-style: none;
                                flex-wrap: wrap;
                                padding: 0;
                                li{
                                    width: 100px;
                                    height: 30px;
                                    font-family: SourceHan-regular;
                                    font-size: 16px;
                                    border: 1px solid #d6d6d6;
                                    background: #edf0f0;
                                    margin-right: 8px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    margin-bottom: 8px;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
                .bottom{
                    margin-top: 40px;
                    .header{
                        width: 100%;
                        height: 40px;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        border-bottom: 1px solid #2b2b2b;
                        margin-bottom: 35px;
                        h3{
                            font-family: "SourceHan";
                            font-size: 26px;
                            margin: 0;
                            font-weight: normal;
                            display: flex;
                            justify-content: center;
                            color: #2b2b2b;
                            align-items: center;
                            &:before{
                                content: "";
                                display: inline-block;
                                width: 3px;
                                height: 26px;
                                background: #0DAA67;
                                margin-right: 10px;
                            }
                        }
                    }
                }

            }





        }
        .details{
            margin-top: 65px;
            .header{
                width: 100%;
                height: 40px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                border-bottom: 1px solid #2b2b2b;
                margin-bottom: 10px;
                position: relative;
                h3{
                    font-family: "SourceHan";
                    font-size: 26px;
                    margin: 0;
                    font-weight: normal;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #2b2b2b;
                    &:before{
                        content: "";
                        display: inline-block;
                        width: 3px;
                        height: 26px;
                        background: #0DAA67;
                        margin-right: 10px;
                    }
                }
            }
            .body{
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                margin-top: 47px;
                margin-bottom: 60px;
                .left{
                    width: 600px;
                    height: 400px;
                    .el-carousel__arrow{
                        width: 45px;
                        height: 45px;
                        background: #0DAA67;
                        border-radius: 0;
                        opacity: 1;
                    }
                    .el-carousel__container{
                        width: 600px;
                        height: 400px;
                    }
                    .el-carousel__item{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img{
                            width: auto;
                            height: 400px;
                        }
                    }
                    .el-carousel__arrow--left{
                        left: 0;
                    }
                    .el-carousel__arrow--right{
                        right: 0;
                    }
                }
                .right{
                    margin-left: 69px;
                    display: flex;
                    justify-content: flex-start;
                    flex-direction: column;
                    h3{
                        font-family: SourceHan;
                        font-size: 22px;
                        font-weight: normal;
                        color: #2b2b2b;
                        margin: 0;
                        margin-bottom: 19px;
                    }
                    span{
                        font-family: SourceHan-regular;
                        font-size: 14px;
                        margin-bottom: 60px;
                        color: #2b2b2b;
                    }
                    ul{
                        list-style: none;
                        padding: 0;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        flex-wrap: wrap;
                        li{
                            width: 100px;
                            height: 30px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-right: 8px;
                            cursor: pointer;
                            background: #edf0f0;
                            border: 1px solid #d6d6d6;
                            font-family: SourceHan-regular;
                            font-size: 16px;
                            margin-bottom: 8px;
                            &:hover{
                                background: #0DAA67;
                                color: #fff;
                                border-color: #0DAA67;
                            }
                        }
                    }
                }
            }
        }
        .p{
            width: 100% ;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 75px 0;
            color: #2b2b2b;
            .el-pagination{
                padding: 0;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-weight: normal;
                background: #EEEFF0;
            }
            .number{
                width: 50px;
                height: 50px;
                text-align: center;
                line-height: 50px;
                font-size: 16px;
                color: #2b2b2b!important;
                font-family: SourceHan-regular;
                background: #EEEFF0!important;
                border: 1px solid #d6d6d6!important;
            }
            .el-icon-more{
                width: 50px;
                height: 50px;
                text-align: center;
                line-height: 50px;
                font-size: 16px;
                font-family: SourceHan-regular;
            }
            .el-icon-d-arrow-right{
                width: 50px;
                height: 50px;
                text-align: center;
                line-height: 50px;
                font-size: 16px;
                font-family: SourceHan-regular;
            }
            .btn-next{
                width: 50px;
                height: 50px;
                text-align: center;
                line-height: 50px;
                font-size: 16px;
                background: #EEEFF0;
                color: #2b2b2b!important;
                font-family: SourceHan-regular;
                position: relative;
                &:after{
                    content: "下一页";
                    display: block;
                    position: absolute;
                    right: 40px;
                    top: 0;
                }
            }
            .btn-prev{
                color: #2b2b2b!important;
                width: 50px;
                height: 50px;
                background: #EEEFF0;
                text-align: center;
                line-height: 50px;
                font-size: 16px;
                position: relative;
                font-family: SourceHan-regular;
                &:after{
                    content: "上一页";
                    display: block;
                    position: absolute;
                    left: 40px;
                    top: 0;
                }
            }
            .active{
                background-color: #D6D6D6!important;
            }
        }
    }
}