#app{
    #div1{display:block;width:110px;height:50px;line-height:50px;white-space:nowrap;overflow:hidden;background-color:#a2a2a2;margin:15px;padding:5px 15px;}
    span{display:inline-block;}
}
.banner{
    width: 100%;
    height: 300px;
    border-bottom: 5px solid #0DAA67;
    margin-bottom: 15px;
}
.navH{
    position: relative;
    .nav{
        position: absolute;
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 22px;
        left: 510px;
        li{
            width: 298px;
            height: 60px;
            display: flex;
            cursor: pointer;
            justify-content: center;
            align-items: center;
            background: #000;
            color: #fff;
            border-right: 2px solid #fff;
            font-family: SourceHan-regular;
            font-size: 16px;
            &:last-child{
                border: 0;
            }
            i{
                margin-right: 5px;
            }
        }
        .active{
            background-color: #0DAA67;
        }
    }
}
.item .el-breadcrumb{
    font-size: 12px;
    font-family: "SourceHan-regular";
    color: #000;
    .is-link{
        font-weight: normal;
        &:hover{
            color: #000;
        }
    }
}
.b_box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .item{
        width: 1200px;
    }
    .zhexue{
        .header{
            width: 100%;
            height: 40px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin: 50px 0;
            h3{
                font-family: "SourceHan";
                font-size: 22px;
                margin: 0;
                font-weight: normal;
                display: flex;
                justify-content: center;
                align-items: center;
                &:before{
                    content: "";
                    display: inline-block;
                    width: 3px;
                    height: 26px;
                    background: #0DAA67;
                    margin-right: 10px;
                }
            }
        }
        .body{
            list-style: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            padding: 0;
            li{
                width: 48.5%;
                height: 300px;
                padding: 0;
                margin-bottom: 40px;
                img{
                    width: 100%;
                    height: 100%;
                }
                h3{
                    width: 100%;
                    height: 38px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    font-family: SourceHan-regular;
                    color: #0DAA67;
                    font-size: 22px;
                    margin: 0;
                    font-weight: normal;
                    border-bottom: 2px solid #666;
                }
                span{
                    font-family: SourceHan-regular;
                    font-size: 14px;
                    margin-top: 20px;
                    line-height: 26px;
                }
            }
            .first{
                background: #d9d9d9;
                padding: 40px;
            }

        }
    }
    .middleBanner{
        width: 100%;
        height: 360px;
        margin-bottom: 60px;
        cursor: pointer;
    }
    .icons{
        width: 1200px;
        height: 200px;
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 124px;
        li{
            width: 33%;
            height: 235px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 0 64px;
            border-right: 1px solid #666;
            &:first-child{
                border-left: 1px solid #666;
            }
            img{
                width: 55px;
                height: 55px;
            }
            h3{
                width: 100%;
                text-align: center;
                font-family: SourceHan-regular;
                color: #0DAA67;
                font-size: 22px;
                margin: 17px 0 28px 0;
                font-weight: normal;
            }
            span{
                font-family: SourceHan-regular;
                font-size: 14px;
                line-height: 22px;
            }
        }
    }
    .corporation{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .header{
            width: 1200px;
            height: 40px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin: 50px 0;
            h3{
                font-family: "SourceHan";
                font-size: 22px;
                margin: 0;
                font-weight: normal;
                display: flex;
                justify-content: center;
                align-items: center;
                &:before{
                    content: "";
                    display: inline-block;
                    width: 3px;
                    height: 26px;
                    background: #0DAA67;
                    margin-right: 10px;
                }
            }
        }
        .body{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 83px;
            .imgs{
                width: 1200px;
                height: 360px;
                background-image: url("./img/logos.png");
                background-size: 60% 100%;
                background-repeat: no-repeat;
                position: relative;
                .corporation{
                    margin: 0;
                    width: 420px;
                    height: 508px;
                    position: absolute;
                    bottom: 0;
                    right: 30px;
                }
            }
        }
    }
    .social{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 108px;
        .header{
            width: 1200px;
            height: 40px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin: 50px 0;
            h3{
                font-family: "SourceHan";
                font-size: 22px;
                margin: 0;
                font-weight: normal;
                display: flex;
                justify-content: center;
                align-items: center;
                &:before{
                    content: "";
                    display: inline-block;
                    width: 3px;
                    height: 26px;
                    background: #0DAA67;
                    margin-right: 10px;
                }
            }
        }
        .body{
            width: 1200px;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            .left{
                width: 302px;
                height: 358px;
                border: 1px solid #d6d6d6;
                border-radius: 2px;
                padding: 60px 40px;
                position: relative;
                span{
                    font-family: SourceHan-regular;
                    font-size: 16px;
                    line-height: 30px;
                }
                img{
                    position: absolute;
                    width: 50px;
                    height: 42px;
                }
                .top{
                    left: 30px;
                    top: -26px;
                }
                .down{
                    right: 30px;
                    bottom: -26px;
                }
            }
            .right{
                margin-left: 42px;
                width: 855px;
            }
        }
    }
}