
#app{
    #div1{display:block;width:110px;height:50px;line-height:50px;white-space:nowrap;overflow:hidden;background-color:#a2a2a2;margin:15px;padding:5px 15px;}
    span{display:inline-block;}
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.head-warp{

    width: 100%;
    height: 44px;
    background: #0DAA67;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 14px;
    position: relative;
    .head{
        width: 100%;
        height: 44px;
        display: flex;
        justify-content: space-between;
        align-content: center;
        .left{
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            cursor: pointer;
            img{
                height: 25px;
                width: auto;
            }
        }
        .rightNav{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            color: #fff;
            .el-icon-search{
                font-size: 16px;
                margin-right: 13px;
            }
            .el-icon-arrow-down{
                font-size: 20px;
            }
            .el-icon-close{
                font-size: 20px;
            }
        }
        .right{
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .tel{
                img{
                    width: auto;
                    height: 22px;
                }
                span{
                    font-size: 26px;
                    font-family: 'DINC';
                    line-height: 0;
                    color: #fff;
                    margin-left: 8px;
                    padding-right: 28px!important;
                }
            }
            .language{
                .cn{
                    font-family: "SourceHan-regular";
                    font-size: 16px;
                    padding-right: 4px!important;
                    border-right: 2px solid #fff;
                    color: #fff;
                    cursor: pointer;
                }
                .en{
                    font-family: "DINR";
                    font-size: 16px;
                    padding-left: 4px!important;
                    color: #fff;
                    cursor: pointer;
                }
            }
        }
    }
    .search{
        width: 100%;
        height: 55px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 44px;
        background: rgba(0,0,0,0.7);
        padding: 0 18px;
        z-index: 99999999;
        .el-input{
            height: 29px;
            .el-input__inner{
                height: 29px!important;
                &:focus{
                    border-color: transparent!important;
                }
            }
        }
    }
    .navList{
        width: 100%;
        height: calc(100vh - 44px);
        position: absolute;
        top: 44px;
        background: #4f4f4f;
        z-index: 999999;
        padding: 0;
        ul{
            width: 100%;
            height: 100%;
            padding: 0;
            li{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding-left: 13px;
                height: 45px;
                font-family: SourceHan-medium;
                font-size: 15px;
                color: #fff;
                border-bottom: 1px solid #969696;

            }
        }
    }

}

.icon{
    width: 20px;
    height: 20px;
}
.navH{
    width: 100%;
}
.b_box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .item {
        width: 100%;
        position: relative;
        .nav{
            width: 100%;
            list-style: none;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            overflow: hidden;
            margin-top: 3px;
            li{
                width: 50%;
                height: 45px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                border: 1px solid #d6d6d6;
                background: #edf0f0;
                color: #2b2b2b;
                padding-left: 40px;
                font-family: SourceHan-regular;
                font-size: 15px;
                position: relative;
                margin-top: -1px;
                i{
                    margin-right: 3px;
                    font-size: 15px;
                    color: #0DAA67;
                }
                &:nth-child(2n-1){
                    border-left: 0;
                    border-right: 0;
                }
                &:nth-child(2n){
                    border-right: 0;
                }
            }
            .searchFather{
                position: relative;
                border-right: 0;
            }
            .search{
                width: 400px;
                height: 48px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #2B2B2B;
                position: absolute;
                top: -48px;
                right: 0;
                .dropDownBox{
                    width: 100%;
                    max-height: 280px;
                    position: absolute;
                    left: 0;
                    top: 48px;
                    overflow: auto;
                    .dropDown{
                        width: 100%;
                        height: 30px;
                        padding-left: 30px;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        background: #fff;
                        border-left: 1px solid #d6d6d6 ;
                        border-right: 1px solid #d6d6d6 ;
                        border-bottom: 1px solid #d6d6d6 ;
                        font-size: 14px;
                        font-family: SourceHan-regular;
                    }
                    .canHover{
                        cursor: pointer;

                    }
                    .noResult{
                        padding: 0;
                        height: 50px;
                        justify-content: center;
                    }
                }

                .el-input{
                    width: 250px;
                    height: 26px;
                    .el-input__inner{
                        width: 250px;
                        height: 26px;
                    }
                }
                .el-input__icon{
                    line-height: 26px;
                }
            }
            .active{
                background-color: #0DAA67;
                color: #fff;
                .el-icon-caret-bottom{
                    color: #fff;
                }
            }
        }
    }

    .products{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        margin-top: 30px;
        flex-direction: column;
        padding: 0 13px;
        .p_head{
            width: 350px;
            height: 30px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .left{
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: auto;
                    height: 25px;
                    margin-right: 7px;
                }
            }
            .right{
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                h3{
                    font-family: DINC;
                    font-size: 13px;
                    margin: 0;
                    color: #2b2b2b;
                }
                span{
                    font-family: SourceHan;
                    font-size: 14px;
                    color: #2b2b2b;
                }
            }
        }
        .p_body{
            width: 100%;
            list-style: none;
            padding: 0;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            li{
                width: 49%;
                height: 171px;
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                margin-top: 20px;
                cursor: pointer;
                overflow: hidden;
                .p_imgs{
                    width: auto;
                    height: 171px;
                    margin-bottom: 5px;
                    overflow: hidden;
                    border: 1px solid #d6d6d6;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        width: auto;
                        height: 100%;
                        transition: all 0.6s;
                    }
                }
                span{
                    font-family: SourceHan-regular;
                    font-size: 13px;
                    color: #2b2b2b;
                }
            }
        }
    }

    .big{
        width: 100%;
        position: relative;
        margin-top: 30px;
        .header{
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            border-left: 4px solid #0DAA67;
            margin: 0 13px;
            margin-bottom: 20px;
            padding-left: 5px;
            h3{
                margin: 0;
                font-weight: normal;
                font-family: DINC;
                color: #2b2b2b;
                font-size: 20px;
            }
            span{
                font-family: SourceHan;
                font-size: 14px;
                color: #2B2B2B;
            }
        }
        .ul{
            width: 100%;
            .bottom{
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                padding: 0;
            }
            li{
                width: 100%;
                position: relative;
                margin-bottom: 5px;
                overflow: hidden;
                span{
                    font-family: SourceHan;
                    color: #fff;
                    font-size: 24px;
                    position: absolute;
                    left:15px;
                    top: 15px;
                    z-index: 9999999999;
                    &:after{
                        content: "";
                        display: block;
                        width: 34px;
                        height: 2px;
                        background: #fff;
                        position: absolute;
                        left: 0;
                        top:35px;
                    }
                }
                .imgs{
                    width: 100%;
                    img{
                        width: 100%;
                        height: auto;
                    }
                }
                .wrap{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0));
                    pointer-events: none;
                }
            }
        }
        .b{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .el-button{
                width: 80px;
                height: 25px;
                background: #0DAA67;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 20px;
                color: #fff;
                font-size: 14px;
                border: 1px solid #0DAA67;
                padding: 0;
                font-family: SourceHan-regular;
            }
        }
    }
}
