#app{
    #div1{display:block;width:110px;height:50px;line-height:50px;white-space:nowrap;overflow:hidden;background-color:#a2a2a2;margin:15px;padding:5px 15px;}
    span{display:inline-block;}
}
.banner{
    width: 100%;
    height: 300px;
    border-bottom: 5px solid #0DAA67;
    margin-bottom: 15px;
}
.item .el-breadcrumb{
    font-size: 12px;
    font-family: "SourceHan-regular";
    color: #000;
    .is-link{
        font-weight: normal;
        &:hover{
            color: #000;
        }
    }
}
.b_box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .item{
        width: 1200px;
    }
    .info_box{
        width: 100%;
        margin-top: 80px;
        .header{
            width: 100%;
            height: 40px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            border-bottom: 3px solid #D6D6D6;
            margin-bottom: 35px;
            h3{
                font-family: "SourceHan";
                font-size: 26px;
                margin: 0;
                font-weight: normal;
                display: flex;
                justify-content: center;
                align-items: center;
                &:before{
                    content: "";
                    display: inline-block;
                    width: 3px;
                    height: 26px;
                    background: #0DAA67;
                    margin-right: 10px;
                }
            }
        }
        .body{
            display: flex;
            justify-content: center;
            align-items: center;
            .left{
                flex: 1;
                h4{
                    font-family: "SourceHan";
                    font-size: 20px;
                    margin-bottom: 10px;
                }
                span{
                    font-family:'SourceHan-regular';
                    font-size: 14px;

                }
                .high_h4{
                    margin: 30px 0;
                }
            }
            .right{
                flex:1;
                height: 258px;
            }
        }
        .info_body{
            width: 100%;
            height: 400px;
            background-image: url("./img/2.jpg");
            background-size: 100% 100%  ;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            .inputs{
                width: 280px;
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                .el-input{
                    margin-bottom: 8px;
                    .el-input__inner{
                        border: none!important;
                        background: #EEEFF0;
                        color: #2b2b2b;
                    }
                }
                .el-textarea{
                    .el-textarea__inner{
                        border: none!important;
                        background: #EEEFF0;
                        color: #2b2b2b;
                    }
                }
                .el-button{
                    width: 120px;
                    height: 30px;
                    font-family: "SourceHan-regular";
                    font-size: 16px;
                    color: #0DAA67;
                    background: #fff;
                    border: 1px solid #0DAA67;
                    padding: 0;
                    margin-top: 8px;
                    &:hover{
                        background: #0DAA67;
                        color: #fff;
                    }
                }
            }
        }

    }
}

